/*
  Name: Zayn Abou-Harb
  Date: 4 Oct 2020
  Section: CSE 154 AE Josie Lee & Dylan McKone

  This is the styles.css page for CP1. It is used to define the rules of
  style for all pages in the site.
*/

body {
  font-size: 15px;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: gray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Times New Roman", "Times", serif;
  font-size: 2.5rem;
  color: red;
  text-transform: uppercase;
}

h2, h3 {
  color: orangered;
}

section {
  border: 1px black;
  border-radius: 8px;
  background-color: lightgray;
  box-shadow: 8px 8px 8px black;
  padding: 5px;
  margin: 10px;
}

section article {
  text-align: center;
}

img {
  background-color: white;
  width: 300px;
  height: auto;
  padding: 16px;
  box-shadow: 5px 5px 5px black;
}

.container {
  padding: 16px;
  display: flex;
}

.highlight {
  font-size: 2rem;
  color: blue;
}

.resume {
  width: 70%;
}

.screenshot {
  width: 50%;
}

/*
Code borrowed from: https://www.w3schools.com/howto/howto_js_topnav.asp
*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}